Config { font = "xft:Ubuntu Mono:pixelsize=16:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "green"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Network "wlp0s20f3" ["-L","0","-H","32",
                                          "--normal","orange","--high","red"] 20
                    , Run Network "enp1s0" ["-L","0","-H","32",
                                          "--normal","orange","--high","red"] 20
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","orange","--high","red"] 10
                    , Run Battery [ "--template" , "Battery: <left>% <acstatus>"
                         , "--Low"      , "20"        -- units: %
                         , "--High"     , "60"        -- units: %
                         , "--low"      , "darkred"
                         , "--normal"   , "yellow"
                         , "--high"     , "lightgreen"
                         ] 50
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%cpu% | %memory% | %enp1s0% | %wlp0s20f3% | %battery% }\
                    \{ <fc=#ee9a00>%date%</fc>| %uname%"
       }
